<p>Dear {{ user }},</p>
<p>EVERY CHILD IS A BUNDLE OF POTENTIAL.</p>
<p>
    Our Mission at DUMENA is to provide a platform to enable every parent to discover and develop their
    children's potential
    in the area of technology, at a very early age (5 - 18).
</p>
<p>
    Our commitment to this mission has led us to building this lovely platform and we are glad that you
    have chosen to share
    this journey with us.
    The next steps will be to add your children on the platform so that their technology education can
    finally take off.
</p>
<p>BUT,</p>
<p>
    You may have seen the countdown display instead of your Dashboard. Not to worry. That's because we
    wanted everyone to
    join us in formally kicking off this journey with a Product Launch.
</p>
<p>
    The GOOD NEWS is that simply by signing up, you have won 2 amazing early bird prizes:
    - A whooping 50% Discount on all our plans for the next 90 Days!
    - A Ticket to attend our Product Launch Event (limited slots available).
</p>
<br>
<p>To confirm your reservation kindly click below:</p>
<a href="https://www.eventbrite.com/e/dumena-lms-product-launch-tickets-367817430837" style="text-decoration: none;
                    color: #fff;
                    background-color: #DF7829;
                    border-radius: 3px;
                    margin-bottom: 0;
                    font-weight: 400;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    -ms-touch-action: manipulation;
                    touch-action: manipulation;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    background-image: none;
                    height: 46px;
                    padding: 8px 14px;
                    font-size: 14px;
                    line-height: 1.3333333;
                ">Reserve a Seat</a>

<br><br>
<p>If you won't be available to join us physically, kindly use the link below to join on Instagram Live:
</p>
<a href="https://www.instagram.com/hi_dumena?upcoming_event_id=17954489977759181" style="text-decoration: none;
                                    color: #fff;
                                    background-color: #DF7829;
                                    border-radius: 3px;
                                    margin-bottom: 0;
                                    font-weight: 400;
                                    text-align: center;
                                    white-space: nowrap;
                                    vertical-align: middle;
                                    -ms-touch-action: manipulation;
                                    touch-action: manipulation;
                                    cursor: pointer;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    background-image: none;
                                    height: 46px;
                                    padding: 8px 14px;
                                    font-size: 14px;
                                    line-height: 1.3333333;
                                ">Join Instagram Live</a>

<br><br>
<p>
    PS: if you have any questions reach me directly on:<br>
    - WhatsApp: +2349024184777<br>
    - Email: kingsley@dumena.com<br>
</p>