<p>Dear Parent/Guardian,</p>

<p>Your child <strong>{{fullname}}</strong> has been enrolled on DUMENA Education platform by
    <strong>{{schoolName}}</strong></p>
<p>Below is your child's login details:</p>
<p>
    Username: {{ username }} <br>
    Password: {{ password }}
</p>