<p>Dear Parent/Guardian,</p>

<p>Your child {{fullname}} has been enrolled on DUMENA Education platform by {{schoolName}}</p>
<p>Below is your child's login details:</p>
<br>
<p>
    Username: {{ username }} <br>
    Password: {{ password }}
</p>