<p>Dear {{ user }},</p>

<p>Thanks for signing up for our Summer Robotics Program.
    We are pretty much excited to get your child on an early path to a career in tech.</p>

<p>During the course of the program, your child will need a Robotics Kit, which you can <a
        href="https://paystack.com/buy/smart-car-kit-jmcbli">buy here</a> or if you would prefer
    to get them yourself, <a
        href="https://drive.google.com/file/d/17-_NvJ4XU_FiSMGJ1oaj-AL1EFHN6bEM/view?usp=sharing">click here</a> to find
    a list of the items in the box.</p>

<p>For further details about the program's curriculum and learning objectives, kindly <a
        href="https://drive.google.com/file/d/1vRscR5cFPtwEu7Z7rJPj6NTnipwdHWQo/view?usp=sharing">click here</a>.</p>

<p>We look forward to seeing the magic your child will create.</p>

<p>See you soon.</p>

<strong>PS: WE WILL BE HAVING MEDIA COVERAGE OF THE PROGRAM. IF YOU WISH TO NOT HAVE YOUR CHILD CAPTURED IN THE MEDIA,
    KINDLY
    INDICATE BY RESPONDING TO THIS EMAIL STATING THAT YOU HAVE DECLINED TO GRANT SUCH CONSENT.</strong>