[Unit]
Description=Node.js LMS[Unit]
Description=Node.js LMS Service         #LMS backend service
After=network.target
#Requires=After=mongodb.service       # Requires the mongodb service to run first

[Service]
WorkingDirectory=/root/lms
ExecStart=npm start
#ExecStart=/usr/bin/node-ts /root/lms/src/index.ts
Restart=on-failure
# Required on some systems
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=development PORT=80 DB_NAME=lms_dev DB_HOST=localhost BD_USER=dumena BD_PASSWORD=s3cret+Pswd1
Environment=JWT_SECRET=F9CD3A1A81F8DBFA752F0822FA770784B145D7A4045DE5A55C594C2FFD37BF67

[Install]
WantedBy=multi-user.target

#sudo nano /lib/systemd/system/lms.service
#sudo systemctl daemon-reload
#sudo systemctl enable lms